@use '@styles/uiElements' as *;

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  width: 100%;
  background-color: var(--lighter-bg);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 85%;
    max-width: 100rem;
    margin: 0 1rem;

    .divider {
      width: 1px;
      height: 1.2rem;
      border-radius: 1rem;
      background-color: var(--icon-bg);
      align-self: center;
    }

    .logo {
      justify-self: start;
      align-items: flex-end;

      width: 4.5rem;
      height: 1.5rem;
      margin-bottom: 0.75rem;
      margin-right: 0.25rem;

      cursor: pointer;
    }

    .centerButtons {
      position: relative;
      justify-self: center;

      display: flex;
      align-items: flex-end;

      gap: 0.25rem;
      padding: 0.25rem;
      margin-top: 0.25rem;

      .centerButtonsWrap {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
      }
      .activeWrap {
        border-radius: 0.5rem;

        transition: background-color 0.1s ease;
        &:hover {
          background-color: var(--icon-bg);
          fill: var(--selection-color);
        }
      }
    }

    .filterWrap {
      position: relative;
    }

    .filterButton {
      all: unset;

      position: relative;
      justify-self: end;

      display: flex;
      align-items: flex-end;
    }

    .endButtonGroup {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-self: end;
    }

    .userButtons {
      position: relative;

      cursor: pointer;

      display: flex;
      align-items: flex-end;

      gap: 0.25rem;
      padding: 0.25rem;
      margin-right: 0.25rem;


      fill: var(--icon-color);
      color: var(--text-color);

      transition: fill 0.1s ease, color 0.1s ease;

      &:hover {
        color: var(--selection-color);
        fill: var(--selection-color);
      }

      .username {
        @include base-text;
        color: inherit;
        font-size: 1rem;

        padding: 0 0.5rem 0 1rem;
        align-self: center;

        transition: color 0.1s ease;
      }

      .notActiveProfileButton {
        width: 3rem;
        height: 2rem;

        padding: 0.25rem;

        fill: inherit;
      }

      .activeProfileButton {
        width: 3rem;
        height: 2rem;

        padding: 0.25rem;
        border-radius: 0.5rem;

        fill: inherit;

        &:hover {
          background-color: var(--icon-bg);
        }
      }
    }

    .settingsWrap {
      position: relative;

      .PopoverWrap {
        position: absolute;

        top: calc(100% + 0.5rem);
        right: calc(100% - 3.5rem);
      }

      .popoverBody {
        background-color: var(--main-bg);
        border: 1px solid var(--border-color);
        border-radius: 0.75rem;

        padding: 0.5rem 1rem 1rem 1rem;

        @include accent-text;
      }
    }

    .settingsButton{
      all: unset;

      position: relative;
      justify-self: end;

      display: flex;
      align-items: flex-end;

      gap: 0.25rem;
      padding: 0.25rem;
      margin-left: 0.25rem;
    }

    .currentGroup {
      position: relative;

      border-radius: 0.75rem 0.75rem 0 0;
      background-color: transparent;
      transition: background-color 0.1s ease;

      &:before {
        pointer-events: none;
        position: absolute;
        content: "";

        left:-1.49rem;
        bottom: 0;

        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;

        mask-image: linear-gradient(to top, var(--main-bg), var(--main-bg)),
        radial-gradient(circle 0.92rem at center, #000 80%, transparent 81%);
        mask-size: 0.75rem 0.75rem, 100%;
        mask-position: bottom right, center;
        mask-repeat: no-repeat, repeat;
        mask-composite: subtract;

        transition: background-color 0.1s ease;
      }

      &:after {
        pointer-events: none;
        position: absolute;
        content: "";

        right: -1.49rem;
        bottom: 0;

        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;

        mask-image: linear-gradient(to top, var(--main-bg), var(--main-bg)),
        radial-gradient(circle 0.92rem at center, #000 80%, transparent 81%);
        mask-size: 0.75rem 0.75rem, 100%;
        mask-position: bottom left, center;
        mask-repeat: no-repeat, repeat;
        mask-composite: subtract;

        transition: background-color 0.1s ease;
      }

      &.active {
        background-color: var(--main-bg);

        &:before,
        &:after {
          background-color: var(--main-bg);
        }
      }
    }

    .button {
      cursor: pointer;
      fill: var(--icon-color);

      width: 3rem;
      height: 2rem;

      padding: 0.25rem;
      border-radius: 0.5rem;

      transition: background-color 0.1s ease;

      &:hover {
        background-color: var(--icon-bg);
        fill: var(--selection-color);
      }
    }

    .activeButton {
      background-color: var(--icon-bg);
      fill: var(--active-color);
    }
  }
}