@use '@styles/variables' as *;
@use '@styles/uiElements' as *;

.wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);

  h1 {
    @include heading-text;
  }
  h2 {
    @include subheading-text;
  }
  h3 {
    @include base-text;
  }
  h4 {
    @include accent-text;
  }
  h5 {
    @include nested-text;
  }
}