@use 'variables' as *;
@use 'sass:math';

@mixin fluid-text($max: 10, $min: 2) {
    font-size: clamp(
            #{math.div($min, 16)}rem,
            calc(min(#{math.div($max, 1440) * 100}vw, #{math.div($max, 720) * 100}vh)),
            #{math.div($max, 16)}rem
    );}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: #{$size}px;
    aspect-ratio: 1;
}

@mixin rounded($size) {
    @include square($size);

    border-radius: 50% !important;
}

@mixin hide {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}