:root {
    --main-bg: #282828;
    --accent-bg: #1d2021;
    --lighter-bg: #3c3835;
    --icon-bg: #4a4643;
    --border-color: var(--lighter-bg);

    --icon-color: #b8ab8d;
    --selection-color: #e86861;
    --selection-click: #cf5a53;
    --active-color: #e5894d;
    --text-color: #d2bd97;
    --text-subhead: #88b381;
    --text-accent: #e5894d;
    --text-nested: #76a399;
}

:root[data-theme="dark"]{
    --main-bg: #f7f3d5;
    --accent-bg: #e9d9b1;
    --lighter-bg: #e9d9b1;
    --icon-bg: #d9c6a3;
    --border-color: #d3c2a0;

    --icon-color: #846555;
    --selection-color: #e86861;
    --active-color: #7cada2;
    --text-color: #b8ab8d;
    --text-subhead: #88b381;
    --text-accent: #e5894d;
    --text-nested: #76a399;
}